@model VirtualOffice.Models.Employee

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#" onclick="loadPartialView('employee')">Employee Management</a></li>
        <li class="breadcrumb-item active" aria-current="page">
           <p>Create New Employee</p>
        </li>
    </ol>
</nav>

<form asp-action="Create" asp-controller="Manager" method="post">
	<div class="form-group">
		<label class="control-label">First name</label>
		<input type="text" asp-for="FirstName" class="form-control" />
	</div>
	<br />
	<div class="form-group">
		<label class="control-label">Last name</label>
		<input asp-for="LastName" class="form-control" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<label class="control-label">Date of Birth</label>
		<input asp-for="DateOfBirth" class="form-control">
		<span asp-validation-for="DateOfBirth" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<label class="control-label">Team</label>
		<select asp-for="TeamId">
			<option value=1>Development</option>
			<option value=2>Marketing</option>
			<option value=3>Finance</option>
			<option value=4>Retail</option>
			<option value=5>Administration</option>
		</select>
		<span asp-validation-for="TeamId" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<button type="submit" class="btn btn-outline-success">Save</button>
	</div>
</form>

