@model Employee

<form asp-action="EditAccount" asp-controller="Manager" method="post">
	<input type="hidden" name="id" asp-for="Id" value="@Model.Id" />
	<div class="form-group">
		<label class="control-label">First name</label>
		<input asp-for="FirstName" class="form-control" />
		<span asp-validation-for="FirstName" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<label class="control-label">Last name</label>
		<input asp-for="LastName" class="form-control" />
		<span asp-validation-for="LastName" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<label class="control-label">Date of Birth</label>
		<input asp-for="DateOfBirth" class="form">
		<span asp-validation-for="DateOfBirth" class="text-danger"></span>
	</div>
	<br />
	<div class="form-group">
		<button type="submit" class="btn btn-outline-success">Save changes</button>
	</div>
</form>
